html,
body {
  padding: 0;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.pagination-dark-mode .page-item .page-link {
    background-color: #343a40; /* Dark background */
    border-color: #454d55; /* Slightly lighter border color */
    color: #f9f4f5; /* White text color */
}

.pagination-dark-mode .page-item.active .page-link {
    background-color: #9f87af; /* Active item background color */
    border-color: #9f87af; /* Active item border color */
}


